.header {
  &__burger {
    display: none;
  }
  &__menu {
    height: auto;
    padding: 0;
    position: inherit;
    flex: 1 0 80%;
  }
  &__list {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
  }
  &__nav-item {
    margin: 0 0 0 30px;
  }
  &__nav-link {
    transition: all 0.2s linear;
    &:hover {
      color: $red;
    }
  }
}
.top {
  &__btn {
    &:hover {
      color: $black;
      background-color: $white;
      border-color: $white;
    }
  }
}
